<nav class="bg-gray-800 text-white px-6 py-4">
    <ul class="flex space-x-6 justify-center items-center">
        <li>
            <a href="{% url 'index' %}" class="hover:text-yellow-400 transition duration-200">Home</a>
        </li>
        <li>
            <a href="{% url 'contact' %}" class="hover:text-yellow-400 transition duration-200">Contact</a>
        </li>
        <li>
            <a href="{% url 'about' %}" class="hover:text-yellow-400 transition duration-200">About</a>
        </li>
        <li>
            <a href="{% url 'filters' %}" class="hover:text-yellow-400 transition duration-200">Filters</a>
        </li>
        <li>
            <a href="{% url 'login' %}" class="hover:text-yellow-400 transition duration-200">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}" class="hover:text-yellow-400 transition duration-200">Sign Up</a>
        </li>
        <li>
            <a href="{% url 'blog_list' %}" class="hover:text-yellow-400 transition duration-200">Blog List</a>
        </li>
    </ul>
</nav>
